{% extends 'jobs/base.html' %}
{% block content %}

<h2>My Profile</h2>
<img src="{{ request.user.profile.profile_pic.url }}" width="150">
<p><strong>Username:</strong> {{ request.user.username }}</p>
<p><strong>Email:</strong> {{ request.user.email }}</p>

<h3>Bio</h3>
<p>{{ request.user.profile.bio }}</p>

<h3>Saved Jobs</h3>

{% if request.user.saved_jobs.all %}
    <ul>
        {% for job in request.user.saved_jobs.all %}
            <li>{{ job.title }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No saved jobs yet.</p>
{% endif %}
<a href="{% url 'edit_profile' %}">Edit Profile</a>

<form method="post" action="{% url 'toggle_dark_mode' %}">
    {% csrf_token %}
    <label>
        <input type="checkbox" name="dark_mode" value="true" {% if user.profile.dark_mode %}checked{% endif %}>
        Dark Mode
    </label>
    <button type="submit">Save</button>
</form>

{% endblock %}